
<div class="team">
  <h1>Team Name: <%= @team.name %></h1><br>
  <h2>Team Motto: <%= @team.motto %></h2>
</div><br>


<% @super_heros.each do |hero| %>
  <div class="superhero">
    <h2>Name Name: <%= hero.name %></h2><br>
    <p>Hero's Power: <%= hero.power %></p><br>
    <p>Hero's Biography: <%= hero.bio %></p><br>
  </div><br>
<% end %>
